body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

img {
    width: 120px;
    margin-bottom: 15px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 8px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}
